a {
    text-decoration: none;
    cursor: grab;
}
a:link, a:visited {
    color: brown;
}
a:hover {
    color: orange;
}
a:active {
    color: blueviolet;
}
p {
    cursor: copy;
}
ul {
    list-style-type: square;
}
ol {
    list-style-type: lower-roman;
    color: brown;
}
li {
    color: blue;
}
#unordered {
    list-style-image: url('./../images/cell-phone.svg');
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
}
td {
    padding: 10px;
}